@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";

/* 🌗 Theme Variables */
:root {
  --bg: #babdbe;
  --bg-input: #fdfdfd;
  --text1: #1a1a1a;
  --text2: #fdfdfd;
  --text3: #2b2f52;
  --button1: #2b2f52;
  --button2: #555975;
  --button3: #f2523f;
  --button4: #1a1a1a;
  --primary: #2b2f52;
  --primary-shade: #222642;
  --primary-tint: #555975;
  --secondary: #2aa9a1;
  --success: #008b3a;
  --warning: #f1c40f;
  --error: #e74c3c;
  --info: #3498db;

  --space-s: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 3rem;
}

.dark {
  --bg: hsl(233, 32%, 10%);
  --bg-input: #555975;
  --text1: #fdfdfd;
  --text2: #fdfdfd;
  --text3: #a7b2ff;
  --button1: #2b2f52;
  --button2: #555975;
  --button3: #f2523f;
  --button4: #fdfdfd;
  --primary: #2b2f52;
  --primary-shade: #222642;
  --primary-tint: #555975;
  --secondary: #2aa9a1;
  --success: #2ecc71;
  --warning: #f1c40f;
  --error: #e74c3c;
  --info: #3498db;
}

@layer base {
  html {
    font-family: "Baloo 2", sans-serif;
    color: var(--text2);
  }
  body {
    min-height: 100dvh;
  }

  p {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  button,
  a {
    cursor: pointer;
    display: inline-block;
  }
  label {
    display: inline-block;
  }
}

@layer utilities {
  /* Font utilities */
  .font-b {
    font-family: "Inter", sans-serif;
  }

  /* Custom utility */
  .heading-theme {
    @apply font-bold;
    color: var(--text3);
  }

  .navbar-link-active {
    @apply bg-[var(--primary-shade)] py-1 px-4 rounded-full -ml-4;
  }
  .navbar-link-inactive {
    @apply bg-transparent py-1 px-4 rounded-full -ml-4;
  }

  .button-style {
    @apply text-[var(--text2)] hover:brightness-120;
  }

  .layout-container {
    @apply flex h-[calc(100vh-3.8rem)] relative;
  }

  .nav-link {
    @apply hover:brightness-120 px-4 py-2 md:text-xl rounded-full font-semibold transition-colors duration-200 w-[45%] text-center;
  }

  .inputInfo-container {
    @apply flex flex-col-reverse gap-6 sm:flex-row sm:justify-center sm:gap-0 sm:mt-20!;
  }
  .info-container {
    @apply bg-[var(--primary)] px-4 py-6 rounded-xl sm:h-full sm:px-6 sm:py-8 sm:rounded-tr-none sm:rounded-br-none;
  }
  .input-container {
    @apply bg-[var(--bg-input)] px-4 py-8 rounded-xl sm:px-6 sm:py-8 sm:rounded-tl-none sm:rounded-bl-none;
  }
  .input-heading {
    @apply text-[var(--text1)] text-3xl text-center my-3;
  }

  .posts-heading {
    @apply text-[var(--text1)] text-center text-4xl md:text-5xl mb-5 md:mb-10;
  }
  .posts-section {
    @apply flex flex-wrap gap-4 mt-10 justify-center mx-auto w-full xl:w-[80%];
  }
  .posts-section-heading {
    @apply text-2xl font-bold;
  }

  .outlet-container {
    @apply flex-1 p-6 overflow-y-auto;
  }
  .about-heading {
    @apply text-[var(--text1)] text-3xl md:text-4xl text-center mt-3 mb-5;
  }
  .about-paragraph {
    @apply text-[var(--text1)] text-lg md:text-xl mb-4;
  }
  .spinner-position {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .container {
    padding: 1rem;
    margin: 0 auto;
  }
}
