@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";

/* 🌗 Theme Variables */
:root {
  --bg: #babdbe;
  --bg-input: #fdfdfd;
  --text1: #1a1a1a;
  --text2: #fdfdfd;
  --text3: #2b2f52;
  --button1: #2b2f52;
  --button2: #555975;
  --button3: #f2523f;
  --primary: #2b2f52;
  --primary-shade: #222642;
  --primary-tint: #555975;
  --secondary: #2aa9a1;
  --success: #008b3a;
  --warning: #f1c40f;
  --error: #e74c3c;
  --info: #3498db;
}

.dark {
  --bg: hsl(233, 32%, 10%);
  --bg-input: #555975;
  --text1: #fdfdfd;
  --text2: #fdfdfd;
  --text3: #a7b2ff;
  --button1: #2b2f52;
  --button2: #555975;
  --button3: #f2523f;
  --primary: #2b2f52;
  --primary-shade: #222642;
  --primary-tint: #555975;
  --secondary: #2aa9a1;
  --success: #2ecc71;
  --warning: #f1c40f;
  --error: #fe8577;
  --info: #3498db;
}

@layer base {
  html {
    font-family: "Baloo 2", sans-serif;
    color: var(--text2);
  }
  body {
    min-height: 100dvh;
  }

  p {
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  button,
  a {
    cursor: pointer;
    display: inline-block;
  }
}

@layer utilities {
  /* Theme color utilities */
  .theme-bg {
    background-color: var(--bg);
  }
  .theme-text1 {
    color: var(--text1);
  }
  .theme-text2 {
    color: var(--text2);
  }
  .theme-text3 {
    color: var(--text3);
  }
  .theme-primary {
    background-color: var(--primary);
  }
  .theme-primary-shade {
    background-color: var(--primary-shade);
  }
  .theme-primary-tint {
    background-color: var(--primary-tint);
  }
  .theme-secondary {
    background-color: var(--secondary);
  }
  .theme-success {
    background-color: var(--success);
  }
  .theme-warning {
    background-color: var(--warning);
  }
  .theme-error {
    background-color: var(--error);
  }
  .theme-info {
    background-color: var(--info);
  }

  /* Font utilities */
  .font-b {
    font-family: "Inter", sans-serif;
  }

  /* Custom utility */
  .heading-theme {
    @apply font-bold;
    color: var(--text3);
  }

  .container {
    padding: 1rem;
    margin: 0 auto;
  }
}
